

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  /* overflow: hidden; */
  font-family: Arial, sans-serif;
}
.initial{
    position: sticky;
    z-index: 1000;
    top: 0%;
}
.initial li{
    
    width: 100px;
    color: rgb(245, 245, 245);
}
.initial li:hover{
    /* width: 100px;
    background-color:aliceblue;
    border-radius: 10%; */
    text-decoration: underline;
    text-decoration-color: rgb(182, 49, 29);
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1);
}



/* Video Background */
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /*Puts the video behind the content*/
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover; /*Ensures the video covers the entire background*/
}
div.sticky{
    position: fixed;
    text-align: center;
    align-items: center;
    float: right;
    margin-top: 20%;
}
div.sticky:hover{
    background-color: aliceblue;
    color: black;
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1);
}
#openModalBtn{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
border-radius: 5px;
    background-color:rgba(78, 137, 248, 0.568);
    color: #fff;
    border-color: transparent;
font-size: large;
}



.modal {
      display: none; /* Hidden by default */
      position: fixed; 
      top: 50%; 
      left: 50%; 
      transform: translate(-50%, -50%);
      background-color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      padding: 20px;
      z-index: 1000;
      border-radius: 10px;
      width: 300px;
    }

    .modal-overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 999;
    }

    .close-btn {
      background-color: #f44336;
      color: white;
      border: none;
      padding: 10px;
      cursor: pointer;
      float: right;
      border-radius: 5px;
    }
#lm a{
    text-decoration: none;
}


.slide {
            overflow: hidden;
            width: 200px; /* Adjust as needed */
        }
        .text-slide {
            white-space: nowrap;
            display: inline-block;
            animation: slide 5s linear infinite;
        }
        @keyframes slide {
            0% {
                transform: translateX(100%);
            }
            100% {
                transform: translateX(-100%);
            }
        }


/* Content Overlay */
.content-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  height: 100vh;
  color: rgb(4, 4, 4);
  /* background: rgba(0, 0, 0, 0.5);  */
  /*Semi-transparent overlay*/
}

.content-overlay h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.content-overlay pre {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  /* font-size: 16px; */
  /* transition: font-size 2s ease, color 2s ease; */
}
.content-overlay pre:hover{
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5);
}

.content-overlay button {
  padding: 1rem 2rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  color: #333;
  transition: background-color 0.3s ease;
}

.content-overlay button:hover {
  background-color: #333;
  color: #ffffff;
}
/* .content-overlay #future_drive{
    width: 100%;
    transition: width 2s;
}
.content-overlay #future_drive:hover{
    width: 200%;
} */
#header1{
    position: relative;
    margin-top: 50px;
    margin-left: 10px;
    transition: transform.2s;
    color: #ffffff;
}
#header1:hover{
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5);
}
#image{
    position: absolute;
    z-index: -1;
    height: 650px;
    width: 95%;
}
.para{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 40px;
    font-size: 19px;
    background-color: transparent;

}
.para:hover{
  background-color: aliceblue;
}
#oldcar{
    margin-top: 5px;
    transition: transform.4s;
    
}
#oldcar:hover{
    -ms-transform: scale(0.5); 
    -webkit-transform: scale(0.5); 
    transform: scale(0.5);
}
#img1{
    width: 1000px;
    height: 600px;
}
.flex-container {
    display: flex;
    background-color: none;
}
.flex-container > div{
    color: black;
    text-align: center;
    font-size: 30px;
}
#sidetext{
    width: 100px;
    transition: width 1s;
}
#sidetext:hover{
    width: 200px;
    
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}
#historydiag{
    transition: transform.2s;
    opacity: 0.6;
    width: 80%;
    margin-left: 10%;
}
#historydiag:hover{
    -ms-transform: scale(0.9); 
    -webkit-transform: scale(0.9); 
    transform: scale(0.9);
    opacity: 1;
}

.collage-container {
            display: grid;
            gap: 15px;
            grid-template-columns: repeat(3, 1fr);
            padding: 5px;
            max-width: 800px;
            margin: 0 auto;
        }

        /* Style for each image */
        .collage-container img {
            width: 130%;
            height: auto;
            display: block;
            border-radius: 8px;
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
            transition: transform 0.5s ease;
        }

        /* Hover effect */
        .collage-container img:hover {
            width: 200%;
            transform: scale(1.05);
        }

        /* Different size examples */
        .collage-item.item2 {
            grid-column: span 1;
        }

        .collage-item.item3 {
            grid-row: span 2;
        }
        .collage-item.item7 {
            grid-column: 2;
            grid-row: 3/ span 3;
        }
        .collage-item.item10 {
            grid-column: 3;
            grid-row: 4;
        }

.find-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.find{
    position: relative;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    transition: transform 0.3s ease, color 0.3s ease;
}
.find:hover{
    transform: scale(1.3);
    color: brown;
}
.img7series{
    opacity: 0.8;
    margin-left: 7%;
    height: 80%;
}
.img7series:hover {
    opacity: 1;
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1);
    transition: transform 1s;
}

.para7series{
    background-color: transparent;
    
}
.para7series:hover{
    background-color: aliceblue;
}

table,tr,td{
    padding: 30px;
}



footer{
    position: relative;
    z-index: 10;
    background-color: rgb(16, 16, 16);
}
.footer1{
    width: 100%;
    padding: 70px 30px 20px;
}
.icon{
    display: flex;
    justify-content: center;
}
.icon a{
    text-decoration: none;
    padding: 10px;
    background-color: aliceblue;
    margin: 10px;
    border-radius: 50%;
}
.icon a i{
    font-size: 2em;
    color: black;
    opacity: 0.4;
}
.icon a:hover{
    color: black;
    transition: 0.5s;
}
.icon a:hover i{
    color: rgb(11, 11, 11);
    transition: 0.5s;
    opacity: 1;
}
.footername{
    margin: 30px 0;
}
.footername ul{
    display: flex;
    justify-content: center;
}
.footername ul li a{
    color: aliceblue;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footername ul li a:hover{
    opacity: 1;
}
.copyright p{
    color: aliceblue;
    justify-content: center;
}
.desname{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
 